<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org">

<menu id="root-menu" label="Menu">
  <item label="Terminal">
    <action name="Execute"><command>lxterminal</command></action>
  </item>
  <item label="Text Editor (Mousepad)">
    <action name="Execute"><command>mousepad</command></action>
  </item>
  <item label="Calculator (Galculator)">
    <action name="Execute"><command>galculator</command></action>
  </item>
  <item label="File Manager (MC)">
    <action name="Execute"><command>lxterminal -e mc</command></action>
  </item>
  <item label="Web Browser (Dillo)">
    <action name="Execute"><command>dillo google.com</command></action>
  </item>
  <item label="System Monitor (Htop)">
    <action name="Execute"><command>lxterminal -e htop</command></action>
  </item>
  <separator />
  <item label="Reboot System">
    <action name="Execute"><command>busybox reboot -f</command></action>
  </item>
  <item label="Power Off">
    <action name="Execute"><command>busybox poweroff -f</command></action>
  </item>
</menu>

</openbox_menu>
